<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Exercício AngularJS: Controllers</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular.min.js"></script>
  <script src="app.js"></script>
  <style type="text/css">
  h2 {
    text-align: center;
  }
  .main {
    max-width: 1024px;
    margin: auto;
  }
  input, textarea {
    width: 100%;
  }
  .formulario, .apres {
    width: 50%;
    margin: auto;
  }

  </style>
</head>
<body>
  <div ng-controller="reviewController as revCtrl" class="main">
    <h2>Review</h2>
    <div class="formulario">
      <fieldset>
        Nota: <input type="number" min="0" max="5" ng-model="revCtrl.nota"><br>
        Comentário: <textarea ng-model="revCtrl.comentario"></textarea>
        <button ng-click="revCtrl.adicionaReview()">Pay</button>
      </fieldset>
    </div>
    <br>
    <div class="apres">
      <h2>Preview</h2>
      <fieldset>
        <h2 >Nota: {{revCtrl.nota}}</h2>
        <p >{{revCtrl.comentario}}</p>
      </fieldset>
    </div>
    <br>
    <div class="apres">
    <h2>Reviews Já Inseridas</h2>
      <fieldset ng-repeat="obj in revCtrl.reviews">
        <h2 >Nota: {{obj.nota}}</h2>
        <p >{{obj.comentario}}</p>
      </fieldset>
    </div>
  </div>
</body>
</html>